<!DOCTYPE html>

<html>

<head>
    <title>Imaginality Help</title>
    <link href="../styles/zstrap.css" rel="stylesheet" />
</head>

<body oncontextmenu="return false">
    <!-- Navigation menu -->
    <nav class="navbar navbar-fixed navbar-color navbar-top">
        <a class="navbar-title" href="#">Imaginality</a>
        <div id="main-nav" class="drawer">
            <ul class="nav-grouper">
                <li id="overflow-icon" class="nav-item">
                    <a class="nav-link" href="javascript:void(0);" onclick="toggleOverflow()">☰</a>
                </li>
            </ul>
            <ul class="nav-grouper">
                <li class="nav-item">
                    <a class="nav-link" href="../index.html">New Drawing</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Main content -->
    <div class="container">
        <div class="card help-card">
            Start drawing today! This was developed to play around with the canvas element and how it can be used to do some fun things.
        </div>
    </div>
</body>

</html>