<!DOCTYPE html>

<html>

<head>
    <title>Imaginality Help</title>
    <link href="../styles/zstrap.css" rel="stylesheet" />
</head>

<body oncontextmenu="return false">
    <!-- Navigation menu -->
    <nav class="navbar navbar-fixed navbar-color navbar-top">
        <a class="navbar-title" href="#">Imaginality</a>
        <div id="main-nav" class="drawer">
            <ul class="nav-grouper">
                <li id="overflow-icon" class="nav-item">
                    <a class="nav-link" href="javascript:void(0);" onclick="toggleOverflow()">☰</a>
                </li>
            </ul>
            <ul class="nav-grouper">
                <li class="nav-item">
                    <a class="nav-link" href="../index.html">New Drawing</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Main content -->
    <div class="container">
        <div class="card help-card">
            Start drawing today! This was developed to play around with the canvas element and how it can be used to do some fun things.
        </div>
        <div class="card help-card">
            Some of the things that I would like to improve:
            <ul>
                <li>Adding the ability to save the images to a database</li>
                <li>Being able to load previously saved images from the database</li>
                <li>A user system to keep the saved images and style preferences saved for</li>
                <li>Saving the drawing when you switch to the help menu</li>
                <li>Prompting the user before erasing the image</li>
            </ul>
        </div>
    </div>
</body>

</html>